#text-entry {
    width: 100%;
    padding: var(--text-padding);
    height: calc(0.7 * var(--textentry-height));
    background-color: var(--color-quaternary);
    
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;

    font-family: "pictofont"; 
    color: var(--color-text);
    font-size: var(--font-size);
}

#text-entry::-webkit-scrollbar {
    display: none;
}