#text-entry {
    width: 100%;
    padding: var(--text-padding);
    height: calc(0.7 * var(--textentry-height));
    background-color: var(--color-quaternary);
    
    border: none;
    border-radius: var(--border-radius-large);
    outline: none;
    overflow-y: scroll;

    font-family: "custom"; 
    color: var(--color-text);
    font-size: var(--font-size);
}

#text-entry::-webkit-scrollbar {
    display: none;
}

#text-entry::placeholder {
    color: var(--color-placeholder);
}