:root {
    --chatpanel-margin: 15px;
    --textentry-height: 100px;
    --text-padding: 7.5px;
}

#chat-panel {
    position: fixed;
    margin: var(--chatpanel-margin);
    padding: var(--text-padding);
    left: calc(50% - var(--chatpanel-margin));
    top: 0px;
    bottom: 0px;
    transform: translateX(-50%);
    width: 50%;
    max-width: 65%;
}

#message-container {
    position: absolute;
    padding: var(--text-padding);
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(100% - var(--textentry-height));
    background-color: var(--color-secondary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#text-entry-container {
    position: absolute;
    width: 100%;
    padding: calc(2 * var(--text-padding));
    height: var(--textentry-height);
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--color-tertiary);
}

/* STYLING FOR THE MESSAGE CONTAINER SCROLLBAR */
.MsgTrackY {
    position: absolute !important;
    top: 0px !important;
    height: 100% !important;
    width: 5px !important;
}

.MsgThumbY {
    display: flex !important;
    background: var(--thumb-color) !important;
    width: 100% !important;
}