.text-form-container {
    margin-bottom: 25px;
    width: 90%;
}

.text-form-input {
    width: 100%;
    outline: none;
    background-color: var(--color-quaternary);
    font-family: "pictofont";
    font-size: var(--font-size-big);
    color: var(--text-color);
    height: 35px;
    border: none;
    padding-left: 5px;
    border-radius: var(--border-radius-small);
}

.label {
    margin-bottom: 5px;
}

.warning {
    color: var(--color-warning);
}