* {
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(80, 80, 80);
    --color-secondary: rgb(65, 65, 65);
    --color-tertiary: rgb(56, 56, 56);
    --color-quaternary: rgb(30, 30, 30);
    --color-highlight: rgb(110, 160, 80);
    --color-highlight-dark: rgb(100, 150, 70);
    --color-text: rgb(235, 235, 235);
    --color-placeholder: rgb(165, 161, 161);
    --color-warning: rgb(204, 68, 68);
    --thumb-color: rgb(23, 25, 23);
    --border-radius-large: 10px;
    --border-radius-small: 5px;
    --font-size: 15px;
    --font-size-big: 17px;
    --signin-margin: 100px;
    --signin-padding: 40px;
    --text-padding: 7.5px;
    --control-height: 35px;
}

@font-face {
    font-family: "custom";
    src: url("../../public/fonts/made.otf");
}

body {
    font-family: "custom";
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: var(--font-size);
}

.panel-border {
    border-style: none;
    border-radius: var(--border-radius-large);
}

.box-shadow {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.color-transition {
    transition: background-color 0.2s ease;
}