* {
    box-sizing: border-box;
}

:root {
    --color-primary:rgb(30, 30, 30);
    --color-secondary: rgb(56, 56, 56);
    --color-tertiary: rgb(74, 72, 72);
    --color-quaternary: rgb(106, 103, 103);
    --color-text: rgb(210, 215, 223);
    --color-placeholder: rgb(140, 140, 140);
    --thumb-color: rgb(23, 25, 23);
    --border-radius: 10px;
    --font-size: 18px;
}

@font-face {
    font-family: "pictofont";
    src: url("../../public/fonts/pictofont.ttf");
}

body {
    font-family: "pictofont";
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: var(--font-size);
}

.panel-border {
    border-style: none;
    border-radius: var(--border-radius);
}